/**
 * Sets up layouts from map, initiates default layout, sets globals.
 * @param  {Map}    $layouts Map of layout definitions
 */
@mixin layout-init($user-layouts) {
  @if(type-of($user-layouts) == map) {
    $LAYOUT: layout-extend($user-layouts) !global;
    $base__font-size: layout-get(base, base__font-size) !global;
    $base__line-height: layout-get(base, base__line-height) !global;
    $local__font-size: $base__font-size !global;
    $local__line-height: $base__line-height !global;
    $susy: layout-get(susy) !global;
  }
  @else {
    @error 'Expected $layouts to be of type `map`, was `#{type-of($layouts)}`.';
  }
}