/**
 * Removes first value from a list at $key on $CACHE map and returns it
 * @param  {String} $key            Key of the list on $CACHE map.
 * @return {Misc}                   Removed value.
 */
@function cache-shift($key) {
  $list: cache-get($key);
  @if (type-of($list) != list) {
    @return false;
  }
  $index: 1;
  $value: nth($list, $index);
  $new: list-remove-nth($list, $index);
  $CACHE: cache-set($key, $new) !global;
  @return $value;
}