/**
 * Implodes a list separating list items by $separator.
 * @param  {List}    $list                  Sass list of misc items.
 * @param  {String}  $separator: ''         Separator string.
 * @param  {Boolean} $recursive: false      Optionally implode items of type list.
 * @return {String}                         Imploded list as string.
 */
@function list-implode($list, $separator: '', $recursive: false) {
  $result: "";
  @for $i from 1 through length($list) {
    $e: nth($list, $i);
    @if (type-of($e) == list and $recursive) {
      $e: list-implode($e, $separator, $recursive);
    }
    $result: if($i != length($list), $result + "#{$e}#{$separator}", $result + "#{$e}");
  }
  @return unquote('') + $result;
}
